!! Cursor configuration

Xcursor.theme: Crosshair
Xcursor.size: 24


!! Colour configuration

! From https://github.com/chriskempson/base16-xresources/blob/master/xresources/base16-tomorrow-night.Xresources
 Base16 Tomorrow Night
! Scheme: Chris Kempson (http://chriskempson.com)

#define base00 #1d1f21
#define base01 #282a2e
#define base02 #373b41
#define base03 #969896
#define base04 #b4b7b4
#define base05 #c5c8c6
#define base06 #e0e0e0
#define base07 #ffffff
#define base08 #cc6666
#define base09 #de935f
#define base0A #f0c674
#define base0B #b5bd68
#define base0C #8abeb7
#define base0D #81a2be
#define base0E #b294bb
#define base0F #a3685a

*foreground:   base05
#ifdef background_opacity
*background:   [background_opacity]base00
#else
*background:   base00
#endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base09
*color10:      base01
*color11:      base02
*color12:      base04
*color13:      base06
*color14:      base0F
*color15:      base07


!! Terminal configuration

! Fonts.
URxvt.font: xft:Source Code Pro:size=13:antialias=true:hinting=true
URxvt.boldFont: xft:Source Code Pro Black:size=13:antialias=true:hinting=true

! No scrollbar.
URxvt.scrollBar: false

! Keep the most recent 10,000 lines which have been displayed.
URxvt.saveLines: 10000

! Hide the mouse cursor when typing.
URxvt.pointerBlank: true

! Fix problem of too much space between letters.
URxvt.letterSpace: -1

! Fade the text when the terminal loses focus.
URxvt.fading: 20

! Scroll one line at a time with Shift+Up and Shift+Down.
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

! When the user is moving vertically in the terminal and new lines are
! received, do not scroll to the bottom. Obey the movement commands until a
! non-movement key is pressed, then scroll to the bottom.
URxvt.scrollTtyOutput: false
URxvt.scrollWithBuffer: true
URxvt.scrollTtyKeypress: true

! Make URLs clickable.
URxvt.perl-ext-common: default,matcher,resize-font
URxvt.urlLauncher: firefox
URxvt.matcher.button: 1

! Modify resize-font key bindings and resize step.
URxvt.keysym.C-minus: resize-font:smaller
URxvt.keysym.C-equal: resize-font:bigger
URxvt.keysym.C-0: resize-font:reset
URxvt.resize-font.step: 1
